@import './normalize.css';

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('./fonts/HelveticaNeueLight.ttf');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: auto;
  max-height: 100%;
}

body {
  font-family: 'Helvetica Neue Light', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  opacity: 0;
  transition: 1s;
  animation: appearance 2s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  transform: translate3d(0, 0, 0);
  animation-delay: 0.25s;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: perspective(600px) rotateX(-100deg);
  }
  100% {
    transform: perspective(600px) rotateX(0deg);
    opacity: 1;
  }
}

.form {
  background-color: rgba(243, 248, 244, 0.4);
  box-shadow: 0.419px 5.985px 65px 0px rgba(0, 0, 0, 0.22);
  padding: 50px 40px 0px 40px;
  position: relative;
}

.logo {
  position: absolute;
  top: -11%;
  left: 32%;
  width: 100px;
  height: 100px;
  opacity: 0.8;
  background-color: #fff;
  border-radius: 25%;
  box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 1);
  transition: 1s;
  animation: logo 2s forwards;
  animation-delay: 0.25s;
}

@keyframes logo {
  0% {
    opacity: 1;
    transform: perspective(600px) rotateX(80deg);
  }

  100% {
    opacity: 1;
    transform: perspective(600px) rotateX(0);
  }
}

.logo__item {
  width: 25px;
  height: 25px;
  opacity: 0.7;
  transition: 1s;
  animation: logo 0.5s forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.orange {
  background-color: #f8911d;
  top: calc(50% - 15px);
  left: calc(50% - 7.5px);
  animation: orange 1s linear;
}

@keyframes orange {
  0% {
    transform: perspective(5rem) rotateX(80deg) translate3d(-1rem, -5rem, 5rem);
  }
  100% {
    transform: perspective(5rem) rotateX(0) translate3d(0, 0, 0);
  }
}

.purple {
  background-color: #d1369c;
  top: calc(50% - 2px);
  left: calc(50% + 7.5px);
  animation: purple 1s linear;
}

@keyframes purple {
  0% {
    transform: perspective(5rem) translate3d(0, -4em, 0) rotateX(80deg);
  }
  100% {
    transform: perspective(5rem) translate3d(0, 0, 0) rotateX(0);
  }
}

.blue {
  background-color: #3e9ffd;
  top: calc(50% + 10px);
  left: calc(50% - 7.5px);
  animation: blue 1.5s linear;
}

@keyframes blue {
  0% {
    transform: translate3d(-2em, -2em, 1rem) rotateX(80deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateX(0);
  }
}

.green {
  background-color: #4ebf49;
  top: calc(50% + 22px);
  left: calc(50% + 7.5px);
  animation: green 2s linear;
}

@keyframes green {
  0% {
    transform: perspective(7rem) translate3d(0, -7rem, 1rem) rotateX(80deg);
  }
  100% {
    transform: perspective(7rem) translate3d(0, 0, 0) rotateX(0);
  }
}

.form__title {
  text-align: center;
  font-weight: 400;
  margin-bottom: 18px;
  font-size: 30px;
}

.form__title--text {
  font-size: 15px;
  opacity: 0.5;
}

.form__input {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #636363;
}

.form__input:focus {
  outline: 0;
  border: 2px solid #3e9ffd;
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.39);
}

.login,
.password {
  margin-bottom: 20px;
}

.checkbox__form {
  margin-bottom: 40px;
}
.checkbox__container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.checkbox__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.checkbox__container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox__container input:checked ~ .checkmark {
  background-color: #3e9ffd;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox__container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox__container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.button {
  background-color: #3e9ffd;
  padding: 12px;
  color: #ffffff;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  margin-bottom: 60px;
}

.button:hover {
  background-color: #1988f7;
}
